/* Définition des couleurs de la charte graphique */
:root {
    --primary-color: #5271FF;
    --secondary-color: #D7FF7B;
    --white: #FFFFFF;
    --black: #000000;
}

/* Style général */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
    margin: 0;
    padding: 0;
}


/* Contenu principal */
.main-content {
    margin-left: 250px;
    padding: 20px;
    width: 100%

}

.header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 20px;
    text-align: center;
}

/* Cartes d'infos */
.dashboard-cards {
    display: flex;
    gap: 20px;
}

.card {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
